.page-header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../../assets/client/img/produit/banner-produit.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border-radius: 10px;
}

.card-header {
  background-color: #f8f9fa;
}

.card-body {
  background-color: #ffffff;
}
