.logo {
  height: 130px; /* Ajustez selon vos besoins */
  width: auto; /* Garde les proportions */
}

.search-container {
  max-width: 300px; /* Ajustez la largeur */
}

.search-container .form-control {
  height:60px; /* Ajustez selon vos besoins */
  font-size: 1rem;
  width: 500px;
}

.search-container .search-icon {
  position: absolute;
  left: 15px; /* Positionnez l'icône dans l'input */
  top: 50%; /* Centrez verticalement */
  transform: translateY(-50%);
}




.navbar-third {
  min-height: 40px; /* Hauteur minimale */
}
.navbar-third .nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.2;
}

